* {
    margin: 0px;
    padding: 0px;
    font-family: Ubuntu;
    outline: none;
}

html {
    height: 100%;
}

a {
	text-decoration: none;
	font-size: 12px;
	color: #3B5998;
}

a:hover,
a:focus {
	text-decoration: underline;
}


a.constructive {
  color: #383;
}

a.destructive {
  color: #833;

}

header {
	position: fixed;
	z-index: 1;
    width: 100%;
    height: 50px;
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#222));
    /*border-bottom: 1px solid #999; */
}

header .content {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

header .content .logo {
	height: 30px;
	margin-top: 10px;
}

header .content .status {
	float: right;
}

header .content .status {;
	color: #ccc;
	font-size: 14px;
	font-weight: bold;
	margin-top: 15px;
}

header .content .status a {
	text-decoration: none;
	color: #ccc;
	font-size: 14px;
	font-weight: bold;
}

header .content .status a:hover,
header .content .status a:focus {
	color: #fff;
}

header .content .status .exit {
	color: #f77;
}

header .content .status .exit:hover {
	color: #fbb;
}

header .content .status .options {
	color: #7f7;
}

header .content .status .options:hover {
	color: #bfb;
}

header .content .avatar {
	height: 36px;
	width: 36px;
	float: right;
	padding: 2px;
	border: 2px solid #333;
	margin-left: 10px;
	margin-top: 3px;
}

header .content .avatar:hover {
	border: 2px solid #666;
}

header .content .status img {
	display: inline;
	padding: 2px;
	border: 2px solid #333;
	height: 36px;
	width: 36px;
	margin-top: 18px;
}

nav {
	position: fixed;
	z-index: 1;
	top: 50px;
    width: 100%;
    height: 30px; 
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ddd));
    border-bottom: 1px solid #999;
    box-shadow: 0px 1px 3px 1px #aaa;
    text-align: left;
}

nav ul {
	text-align: center;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

nav li {
	list-style: none;
	display: inline-block;
	height: 30px;
}

nav a {
	text-decoration: none;
	font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #444;
  text-shadow: #eee 1px 1px 1px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  display: inline-block;
}

nav a:hover,
nav a:focus {
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#eee));
}

nav a:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#bbb));
	text-shadow: #ddd 1px 1px 1px;
	border-bottom: 1px solid #bbb;
}

#page-wrapper {
	position: absolute;
	top: 80px;
	width: 100%;
}

#page {
	position: relative;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#left-aside {
	width: 160px;
	margin: 5px;
	float: left;
}

#left-aside article {
	margin-bottom: 10px;
}

#left-aside .avatar img {
	width: 160px;
}

#left-aside .menu {
	width: 158px;
	border: 1px solid #ccc;
}

#left-aside .menu:hover {
	border: 1px solid #50b5f8;
	box-shadow: 0px 0px 2px 1px #50b5f8;
}

#left-aside .menu h1 {
	font-size: 14px;
	font-weight: 14px;
	background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#aaa));
	border-bottom: 1px solid #ccc;
	text-shadow: #ddd 1px 1px 1px;
	color: #222;
	padding: 3px;
}

#left-aside .menu ul {
	
}

#left-aside .menu li {
	list-style: none;
	font-size: 12px;
	font-weight: normal;
	padding: 3px;
	color: #222;
	background: #ccc;
}

#left-aside .menu li:hover {
	background: #eee;
}

#content {
	width: 580px;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
  background: white;
}

#content-header {
  padding: 3px 10px;
  background: #eee;
  border: 1px solid #ccc;
  display: inline-block;
  width: 558px;
}

#content-header h1 {
	font-size: 14px;
	font-weight: bold;
	color: #666;
}

#content-body {
	width: 578px;
	border: 1px solid #ccc;
}

#content-footer {
	margin-top: 0px;
	text-align: center;
}

#content-footer .links {
	text-align: center;
	font-size: 12px;
}

#content-footer .links a {
	text-decoration: none;
	font-size: 12px;
	color: #3B5998;
	padding-left: 5px;
	padding-right: 5px;
}

#content-footer .links a:hover,
#content-footer .links a:focus {
	text-decoration: underline;
}

#content-footer .copyright {
	margin-top: 10px;
	float: left;
	font-size: 12px;
	color: #222;
	text-align: center;
	width: 100%;
	padding-bottom: 10px;
}

#right-aside {
	width: 200px;
	margin: 5px;
	float: left;
}

#left-aside, #right-aside, #content {
	height: 100px;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#000));
    border-top: 1px solid #999;
    box-shadow: 0px -1px 3px 1px #aaa;
}

/**
  * User Profile
  **/

.user-profile {
	padding: 5px;
}

.user-profile h1 {
	font-size: 14px;
	color: #666;
	padding-bottom: 3px;
	padding-left: 5px;
	border-bottom: 1px solid #ccc;
}

.user-profile table {
	text-align: left;
}

.user-profile th {
	font-size: 12px;
	font-weight: normal;
	color: #666;
	width: 158px;
	padding-left: 5px;
}

.user-profile td {
	font-size: 12px;
	font-weight: normal;
	color: #222;
	width: 400px;
}

.user-profile .friends td {
	width: 279px;
	border: 1px solid #ccc;
}

.user-profile .friends .avatar{
	float: left;
}

.user-profile .friends .avatar img {
	width: 64px;
	height: 64px;
	margin: 10px;
}

.user-profile .friends .description	 {
	width: 185px;
	float: left;
	padding: 10px;
	padding-left: 0px;
	text-align: center;
}

.user-profile .friends .description h1 {
	font-size: 12px;
	margin-bottom: 7px;
}

.user-profile .friends .description a {
	margin: 10px;
}

/* Content Menu */

.content-menu ul {
	margin-top: 5px;
	text-align: center;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	padding-top: 10px;
	margin: 0px 0px 5px 0px;
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#eee));
}

.content-menu li {
	display: inline-block;
	list-style: none;
	font-size: 12px;
	color: #666;
}

.content-menu li.separator {
	margin: 0px 5px;
}

.content-menu a {
	border: 1px solid #ccc;
	padding: 5px 10px;
	background: white;
}

.content-menu a:hover,
.content-menu a:focus {
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(white));
	text-decoration: none;
	border-color: #999;
	border-bottom-color: #ccc;
}

.content-menu .selected {
	border-bottom: 1px solid white;
	padding-bottom: 5px;
	background: white;
}

.content-menu .selected:hover,
.content-menu .selected:focus {
	border-bottom: 1px solid white;
	padding-bottom: 5px;
	
}

/* Action Menu */

.action-menu {
  text-align: right;
  font-size: 13px;
  color: #444;
}

.action-menu a {
  border-left: 0px;
  border-right: 0px;
  background: white;
  margin-left: -4px;
  padding: 5px;
  display: inline-block;
  background: #fffebb;
}

.action-menu a.left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 5px;
} 

.action-menu a:focus,
.action-menu a:hover {
  text-decoration: none;
  background: #ffed88;
}

/**
  * Friendship 
  */

.friends {
	padding: 0px;
}

.friends table {
	border: 1px solid #ddd;
	width: 566px;
	margin: 5px;
	border-spacing: 0px;
	border-collapse: collapse;
}

.friends table .avatar {
	padding: 0px;
	margin: 0px;
	width: 110px;
}

.friends table .avatar img {
	width: 100px;
	height: 100px;
	margin: 5px;
	margin-bottom: 1px;
}

.friends table .user-info {
	width: 300px;
	vertical-align: top;
}

.friends table .user-info h1 {
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
	padding: 5px;
	padding-top: 10px;
	font-size: 14px;
	color: #999;
}

.friends table .user-info a {
	font-size: 14px;
	color: #666;
	margin: 0px;
	padding: 0px;
}

.friends table .user-info p {
	font-size: 12px;
	color: #666;
	padding-left: 5px;
}

.friends table .menu {
	width: 155px;
	text-align: center;
	vertical-align: top;
	padding: 5px 0px;
}

.friends table .menu a {
	width: 135px;
	padding: 4px 5px;
	margin: 2px 5px;
	display: inline-block;
}

.friends table .menu a:hover {
	text-decoration: none;
	background: #eee;
}

.friends-empty {
	margin: 5px;
	padding: 20px;
	text-align: center;
	color: #666;
}

/**
  * Microblog
  */

.microblog {
  padding: 0px;
}

.microblog table {
  border: 1px solid #ddd;
  width: 568px;
  margin: 5px;
  border-spacing: 0px;
  border-collapse: collapse;
}

.microblog table:hover {
  border-color: #ccc;
  box-shadow: 0px 0px 2px 1px #ddd;
}

.microblog table .avatar {
  padding: 0px;
  margin: 0px;
  width: 60px;
  vertical-align: top;
  /*border-right: 1px solid #ddd;*/
}

.microblog table .avatar img {
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-bottom: 1px;
}

.microblog table .user-info {
  width: 379px;
  vertical-align: top;
}

.microblog table .user-info h1 {
  padding: 3px;
  font-size: 14px;
  color: #999;
  margin-bottom: -8px;
}

.microblog table .user-info a {
  font-size: 14px;
  color: #444;
  margin: 0px;
  padding: 0px;
}

.microblog table .user-info p {
  font-size: 13px;
  color: #444;
  padding-left: 5px;
  text-align: justify;
  padding: 5px 5px;
}

.microblog table .posted-at {
  font-size: 12px;
  color: #666;
  vertical-align: bottom;
}

.microblog table .posted-at p {
  /*border-top: 1px solid #ddd;*/
  padding: 2px 5px;
}

.microblog table .menu {
  width: 125px;
  text-align: center;
  vertical-align: top;
  padding: 5px 0px;
  /*border-left: 1px solid #ddd;*/
}

.microblog table .menu a {
  width: 105px;
  padding: 2px 3px;
  margin: 0px 5px;
  display: inline-block;
}

.microblog table .menu a:hover {
  text-decoration: none;
  background: #eee;
}

.microblog form {
  text-align: right;
  margin: 0px 5px;
}

.microblog textarea {
  width: 556px;
  padding: 5px;
  font-size: 13px;
  color: #222;
  border: 1px solid #ddd;
}

.microblog textarea:focus {
  color: #444;
  border: 1px solid #aaa;
  outline: none;
}

.microblog input[type="submit"],
.microblog input[type="button"] {
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    padding: 5px 30px;
    font-weight: bold;
    color: #222;
    text-shadow: #fff 1px 1px 1px;
    font-size: 12px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#bbb));
    cursor: pointer;
}

.microblog input[type="submit"]:active,
.microblog input[type="button"]:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#bbb));
    text-shadow: #ccc 1px 1px 1px;
}

.microblog-empty {
  margin: 5px;
  padding: 20px;
  text-align: center;
  color: #666;
}

/*
 * Will Paginate Style
 */

.pagination {
  width: 556px;
  margin: 5px;
  margin-top: 0px;
  text-align: center;
  display: inline-block;
  border: 1px solid #ddd;
  font-size: 12px;
  color: #666;
  padding: 5px;
}

.pagination .entries {
  margin-bottom: 5px;
}

.pagination a {
  margin: 2px;
  padding: 3px 7px;
  font-size: 12px;
  border: 1px solid #ddd;
  display: inline-block;
}

.pagination em,
.pagination span.disabled {
  border: 1px solid #ddd;
  margin: 2px;
  padding: 3px 7px;
  font-size: 12px;
  display: inline-block;
  font-style: normal;
  color: #666;
}

.pagination a:hover,
.pagination a:focus {
  background: #eee;
  border-color: #ccc;
  text-decoration: none;
  border-color: #ccc;
  box-shadow: 0px 0px 2px 1px #ddd;
}

/**
  * Messages
  */

.messages {
  padding: 0px;
}

.messages table {
  border: 1px solid #ddd;
  width: 568px;
  margin: 5px;
  border-spacing: 0px;
  border-collapse: collapse;
}

.messages table:hover {
  border-color: #ccc;
  box-shadow: 0px 0px 2px 1px #ddd;
}

.messages table .avatar {
  padding: 0px;
  margin: 0px;
  width: 60px;
  vertical-align: top;
  /*border-right: 1px solid #ddd;*/
}

.messages table .avatar img {
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-bottom: 1px;
}

.messages table .recipient-name,
.messages table .sender-name {
  padding: 3px;
  font-size: 14px;
  color: #999;
  margin-bottom: -8px;
}

.messages table .message-subject {
  font-size: 13px;
  font-weight: bold;
  color: #444;
  padding-left: 5px;
  margin-top: 5px;
  text-align: justify;
  padding: 5px 5px;
}

.messages table .message-text {
  font-size: 13px;
  color: #444;
  padding-left: 5px;
  text-align: justify;
  padding: 5px 5px;
}

.messages table .posted-at {
  font-size: 12px;
  color: #666;
  vertical-align: bottom;
}

.messages table .posted-at p {
  /*border-top: 1px solid #ddd;*/
  padding: 2px 5px;
}

.messages table .menu {
  width: 125px;
  text-align: center;
  vertical-align: top;
  padding: 5px 0px;
  /*border-left: 1px solid #ddd;*/
}

.messages table .menu a {
  width: 105px;
  padding: 2px 3px;
  margin: 0px 5px;
  display: inline-block;
}

.messages table .menu a:hover {
  text-decoration: none;
  background: #eee;
}

.messages-empty {
  margin: 5px;
  padding: 20px;
  text-align: center;
  color: #666;
}

/*
 * Mail
 */

.message {
  padding: 0px;
}

.message table {
  width: 568px;
  margin: 5px;
  border-spacing: 0px;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.message table .avatar {
  padding: 0px;
  margin: 0px;
  width: 60px;
  vertical-align: top;
}

.message table .avatar img {
  width: 100px;
  height: 100px;
  margin: 5px;
  margin-bottom: 1px;
}

.message table .sender h1 {
  font-size: 16px;
  padding: 3px;
  font-weight: normal;
  color: #666;
}

.message .created p { 
  padding-right: 5px;
}

.message .created p {
  font-size: 12px;
  padding: 5px;
  text-align: right;
  font-weight: normal;
  color: #999;
  margin-right: 5px;
}

.message .subject,
.message .text {
  font-size: 13px;
  color: #444;
}

.message .subject p {
  margin-right: 5px;
  border-top: 1px solid #ddd;
  border-bottom: 0px;
  padding: 5px;
  font-weight: bold;
}

.message textarea,
.message input[type="text"] {
  width: 300px;
  padding: 5px;
  font-size: 13px;
  color: #222;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px 1px #ccc inset;
}

.message .subject textarea:focus,
.message .text input[type="text"]:focus {
  color: #444;
  border: 1px solid #aaa;
  outline: none;
}

.message .text p {
  margin-right: 5px;
  border-top: 0px;
  padding: 5px;
  margin-bottom: 5px;
}

.message form {
  text-align: right;
  margin: 5px 5px;
}

.message form h1 {
  text-align: center;
  padding: 5px;
  font-size: 16px;
  color: #666;
  font-weight: normal;
}

.message p {
  padding: 3px;
}

.message form label {
  font-size: 12px;
  text-align: left;
  color: #666;
  width: 568px;
  display: inline-block;
}

.message textarea,
.message input[type="text"] {
  width: 550px;
  padding: 5px;
  font-size: 13px;
  color: #222;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px 1px #ccc inset;
}

.message textarea:focus,
.message input[type="text"]:focus {
  color: #444;
  border: 1px solid #aaa;
  outline: none;
}

.message input[type="submit"],
.message input[type="button"] {
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    padding: 5px 30px;
    font-weight: bold;
    color: #222;
    text-shadow: #fff 1px 1px 1px;
    font-size: 12px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#bbb));
    cursor: pointer;
}

.message input[type="submit"]:active,
.message input[type="button"]:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#bbb));
    text-shadow: #ccc 1px 1px 1px;
}

.microblog-empty {
  margin: 5px;
  padding: 20px;
  text-align: center;
  color: #666;
}

.new-message {
  padding: 0px;
}

.new-message table {
  width: 568px;
  margin: 5px;
  border-spacing: 0px;
  border-collapse: collapse;
  border: 1px solid #ddd;
  vertical-align: top;
}

.new-message table .avatar {
  padding: 0px;
  margin: 0px;
  width: 100px;
  vertical-align: top;
}

.new-message table .avatar img {
  width: 100px;
  height: 100px;
  margin: 5px;
  margin-bottom: 1px;
}

.new-message h1 {
  font-size: 16px;
  padding: 3px;
  font-weight: normal;
  color: #666;
  border-bottom: 1px solid #ccc;
  margin-right: 5px;
}

.new-message p {
  font-size: 12px;
  text-align: left;
  font-weight: normal;
  color: #999;
  margin: 3px 5px 3px 0px;
}

.new-message p {
  border-bottom: 0px
}

.new-message textarea,
.new-message input[type="text"] {
  width: 438px;
  padding: 5px;
  font-size: 13px;
  color: #222;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px 1px #ccc inset;
}

.new-message textarea:focus,
.new-message input[type="text"]:focus {
  color: #444;
  border: 1px solid #aaa;
  outline: none;
}

.new-message input[type="submit"],
.new-message input[type="button"] {
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    padding: 5px 30px;
    font-weight: bold;
    color: #222;
    text-shadow: #fff 1px 1px 1px;
    font-size: 12px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#bbb));
    cursor: pointer;
}

.new-message input[type="submit"]:active,
.new-message input[type="button"]:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#bbb));
    text-shadow: #ccc 1px 1px 1px;
}

.microblog-empty {
  margin: 5px;
  padding: 20px;
  text-align: center;
  color: #666;
}