<article class="content-menu">
  <ul>
    <% if action_name == "inbox" %>
      <li><%= link_to "Inbox messages", mail__inbox_path, :class => "selected" %></li>
    <% else %>
      <li><%= link_to "Inbox messages", mail__inbox_path %></li>
    <% end %>
    <% if action_name == "outbox" %>
      <li><%= link_to "Outbox messages", mail__outbox_path, :class => "selected" %></li>
    <% else %>
      <li><%= link_to "Outbox messages", mail__outbox_path %></li>
    <% end %>
  </ul>
</article>