<article class="content-menu">
  <ul>
    <% if @personal %>
      <li><%= to_friends %></li>
      <li><%= to_requests_to %></li>
      <li><%= to_requests_from %></li>
    <% else %>

    <% end %>
  </ul>
</article>