<%# Title for HTML Head Title %>
<% content_for :title do %>
	Webula | Profile | Contacts
<% end %>

<%# Slogan for page %>
<% content_for :slogan do %>
  <span class="complete_step">Main Info</span> > <span class="complete_step">Organization Info</span> > <span>Contacts</span> > <span class="not_complete_step">Avatar</span> > <span class="not_complete_step">Finish</span>
<% end %>

<%# Title for window %>
<% content_for :window_header do %>
	<h1>Contacts</h1>
<% end %>

<%# Body %>
<%= render "contacts_form" %>

<%# Links to other auth functions %>
<% content_for :window_footer do %>
  
<% end %>
